// color palette
$white: #fff;
$black: #000;
$black-1: #2a2a2a;
$grey: #808080;


$text-primary-color: $black-1;
$text-secondary-color: $grey;

$max-seat-in-a-row: 14;
$seat-width: 30px;
$seat-height: 30px;

$room-bg-color: #1b1b1b;
$screen-bg-color: #fff;
$standard-border-color: #afafaf;
$standard-text-color: #afafaf;
$vip-border-color: #006f00;
$deluxe-border-color: #0071b9;
$selected-text-color: #888;
$selected-bg-color: #fff;
$reserved-bg-color: #272727;
$reserved-border-color: #272727;
$zoom-container-bg: #e6e6e6;
